In [1]:
# Dependencies and Setup
import pandas as pd

# Load Files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [17]:
# View new dataset
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [46]:
# Find total # of schools
unique_schools = school_data_complete["school_name"].unique()
total_schools = len(unique_schools)
print(total_schools)

# Find total # of students
total_students = school_data_complete["student_name"].count()
print(total_students)

# Find total budget - sum of budget for each school
unique_budget = school_data_complete["budget"].unique()
total_budget = sum(unique_budget)
print(total_budget)

# Find average math and reading scores
avg_math_score = school_data_complete["math_score"].mean()
print(avg_math_score)

avg_reading_score = school_data_complete["reading_score"].mean()
print(avg_reading_score)

# Calculate the % of students passing reading and math
math_passing = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
percent_pass_math = math_passing["student_name"].count() / school_data_complete["student_name"].count() * 100
print(percent_pass_math)

reading_passing = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
percent_pass_reading = reading_passing["student_name"].count() / school_data_complete["student_name"].count() * 100
print(percent_pass_reading)

# Caclualte overall passing score
overall_passing = (avg_math_score + avg_reading_score)/2
overall_passing

15
39170
24649428
78.98537145774827
81.87784018381414
74.9808526933878
85.80546336482001

80.43160582078121

In [48]:
# Create dataframe to hold results
district_summary = pd.DataFrame({"Total Schools": total_schools},
                               {"Total Students": total_students},
                               {"Total Budget": total_budget},
                               {"Average Math Score": avg_math_score},
                               {"Average Reading Score": avg_reading_score},
                               {"% Passing Math": percent_pass_math},
                               {"% Passing Reading": percent_pass_reading},
                               {"% Overall Passing Rate": overall_passing})
district_summary

TypeError: __init__() takes from 1 to 6 positional arguments but 9 were given

24649428